.ppal {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 10vh 10vh 70vh 10vh;
  gap: 2px;
  background-color: #2196f3;
  padding: 1px;
}

.ppal > div {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
}

.item1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 1;
}

#anim {
  width: 100px;
  height: 30px;
}

#anim:hover {
  width: 100px;
  height: 40px;
  animation-name: example;
  animation-duration: 10s;
  position: relative;
  animation-delay: 0.5s;
}

@keyframes example {
  0% {
    border: 2px solid rgb(102, 237, 102);
    border-radius: 2px;
    transform: rotate(0);
  }
  100% {
    border: 10px solid rgb(5, 29, 5);
    border-radius: 10px;
    transform: rotate(360deg);
  }
}

.item2 {
  align-content: center;
  font-size: 16px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 2;
}

.item3 {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: italic;
  background-image: url("../imagen/pexels-kelly-1179532-21771326.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.item3 p {
  color: black;
  font-size: 24px;
}

.item4 {
  grid-column-start: 6;
  grid-column-end: 12;
  grid-row-start: 3;
  font-size: 16px;
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: italic;
  background-image: url("../imagen/tazon-sabroso-cereal-mesa.jpg");
  background-size: cover;
  background-position-x: center;
}

.item5 {
  font-size: 16px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 4;
}

.retorno a{
  left: auto;
}

@media only screen and (max-width: 480px) {
  .item3-page2 {
    display: flex;
    flex-wrap: wrap;
    left: 10%;
  }
}

@media only screen and (min-width: 600px) {
  .ppal > div {
    background-color: burlywood;
    
    }
  
}

@media only screen and (min-width: 800px) {
  .ppal > div {
    color: darkblue;
  }
}
